.review {
  display: flex;
  flex-direction: column;
  background-color: #1c151e;
  padding: 5px 10px;
  border-radius: 10px;

  .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;

    .left_side {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;

      .author {
        border-radius: 10px;
        padding: 10px;
        background-color: #2a2533;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        img {
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
        }

        span {
          color: white;
          font-size: 18px;
        }
      }

      .rating {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .value {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          .star {
            color: white;
            font-size: 23px;
          }

          span {
            color: white;
            font-size: 20px;
          }
        }
      }
    }

    .date {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      p {
        color: white;
        font-size: 16px;
      }
    }
  }

  .bottom_text {
    margin: 10px 0px;
    padding: 0px 10px;

    p {
      margin: 0;
      color: white;
      font-size: 16px;
    }
  }
}
