// client/src/components/reviewsblock/reviewsBlock.scss

.reviews_section {
  border-radius: 12px;
  margin-top: 30px;
  background-color: #130f14;
  display: flex;
  flex-direction: column;
  width: 100%; // На странице Reviews он занимает 100% контейнера
  padding-bottom: 30px;

  // Стили для заголовка и кнопки
  .top {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: white;
      font-size: 28px;
      font-weight: bold;
    }

    .button_reviews {
      background-color: #6b2da8;
      border-radius: 12px;
      padding: 10px 15px;
      cursor: pointer;
      transition: background-color 150ms ease;
      text-decoration: none;

      &:hover {
        background-color: #53257d;
      }

      p {
        color: white;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  // Стили для списка отзывов
  .bottom {
    padding: 0 30px;
  }
}
