html,
body {
  font-family: "Bahnschrift", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.notfound {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .card {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #1c151e;
    border-radius: 15px;
    padding: 20px;

    .left {
      flex: 6 1 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content-wrapper {
        padding: 20px;

        h1 {
          color: #53257d;
          margin: 0;
          font-size: 72px;
        }

        h2 {
          color: white;
          margin-top: 10px;
          font-size: 28px;
        }

        p {
          color: #ffffff;
          margin-top: 10px;
          font-size: 16px;
        }

        .home-button-wrapper {
          margin-top: 20px;

          .button-link {
            font-size: 20px;
            padding: 8px 30px;
            display: inline-block;
            text-decoration: none;
            border-radius: 25px;
            background-color: #53257d;
            color: white;
            font-weight: bold;
            transition: background-color 150ms ease;

            &:hover {
              background-color: #6b2da8;
            }
          }
        }
      }
    }

    .right {
      flex: 4 1 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;

      img {
        width: 250px;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
