html,
body {
  font-family: "Bahnschrift", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("~/public/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .card {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #1c151e;
    border-radius: 15px;
    padding: 20px;

    .left {
      flex: 6 1 60%;
      display: flex;
      flex-direction: column;

      .form-wrapper {
        padding-left: 20px;
        padding-right: 20px;
        h1 {
          color: white;
          margin-bottom: 20px;
          font-size: 42px;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .field {
            display: flex;
            flex-direction: column;
            gap: 5px;
            h2 {
              color: white;
              margin: 0;
              font-size: 18px;
            }

            input {
              border-radius: 5px;
              border: none;
              height: 30px;
              width: 100%;
            }
            .forgot-wrapper {
              width: 100%;
              display: flex;
              justify-content: flex-end;
              margin-top: 4px;

              .forgot-link {
                text-decoration: none;
                color: white;
                font-size: 12px;
                cursor: pointer;
                transition: color 150ms ease;
                &:hover {
                  color: #53257d;
                }
              }
            }
          }

          .login-button-wrapper {
            display: flex;
            margin-top: -20px;
            justify-content: center;
            .button-link {
              font-size: 30px;
              padding: 6px 30px;
              display: inline-block;
              text-align: center;
              text-decoration: none;
              border-radius: 25px;
              background-color: #53257d;
              color: white;
              font-weight: bold;
              cursor: pointer;

              transition: background-color 150ms ease;

              &:hover {
                background-color: #6b2da8;
              }
            }
          }
        }
      }

      .register-wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-left: 8px;

        .register-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 25%;

          span {
            color: white;
            font-size: 10px;
          }
          .button-link {
            font-size: 10px;
            padding: 4px 10px;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            border-radius: 25px;
            background-color: #52257d82;
            color: white;
            width: auto;
            font-weight: bold;
            cursor: pointer;

            transition: background-color 150ms ease;

            &:hover {
              background-color: #6b2da8;
            }
          }
        }
      }
    }

    .right {
      flex: 4 1 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      img {
        width: 250px;
        height: auto;
        object-fit: contain;
        display: block;
      }
    }
  }
}
