html,
body {
  font-family: "Bahnschrift", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.publication-page {
  background-image: url("~/public/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;

  .publication-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
