html,
body {
  font-family: "Bahnschrift", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.game {
  background-image: url("~/public/img/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .page_wrapper {
    border-radius: 12px;
    margin-top: 30px;
    background-color: #1c151e;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    .general_info {
      width: 100%;
      .banner {
        display: flex;
        width: 100%;
        height: 400px;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        padding: 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          .left {
            width: 33%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .poster_wrapper {
              width: 100%;
              height: 350px;
              border-radius: 50px;
              margin-top: -150px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .rating {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                span {
                  color: white;
                  font-size: 12px;
                }
                .star {
                  width: auto;
                }
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              h1 {
                color: white;
                font-weight: bold;
                font-size: 16px;
              }

              .description {
                background-color: #2a2533;
                border-radius: 10px;
                p {
                  color: white;
                  font-size: 14px;
                  padding: 10px;
                }
              }
            }
          }

          .bottom {
            .left {
              .trailer {
                video {
                  width: 400px;
                  height: auto;
                  border-radius: 15px;
                }
              }
            }

            .right {
              .article_wrapper {
                .article {
                  .top {
                    h1 {
                    }

                    .author {
                      img {
                      }

                      span {
                      }
                    }
                  }

                  .bottom {
                    p {
                    }

                    .read_more {
                    }
                  }
                }
              }
            }
          }
        }

        .reviews_section {
          .top {
            h1 {
            }

            .button_review {
              p {
              }
            }
          }

          .bottom {
            .review {
              .top {
                .author {
                  img {
                  }

                  span {
                  }
                }

                .rating {
                  .date {
                    p {
                    }
                  }

                  .value {
                    .star {
                    }

                    span {
                    }
                  }
                }
              }

              .bottom {
                p {
                }
              }
            }
          }
        }
      }
    }
  }
}
