.game-card {
  text-decoration: none;
  background-color: #130f14;
  border-radius: 10px;
  padding: 15px;
  transition: transform 150ms ease, border-color 150ms ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  border: 2px solid #53257d;
  &:hover {
    transform: translateY(-5px);
    border-color: #6b2da8;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .game-poster-small {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    color: white;
    font-size: 16px;
    margin: 0;
    text-align: center;
    font-weight: normal;
    line-height: 1.3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.game-card .game-rating {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}
