.comment-block {
  border-radius: 12px;
  background-color: #130f14;
  padding: 30px;
  width: 100%;
  margin-top: 30px;

  .comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    .comment-icon {
      color: #53257d;
      font-size: 28px;
    }

    h2 {
      color: white;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }

  .comments-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
