html,
body {
  font-family: "Bahnschrift", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #1b161d;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  .left {
    img {
      width: 60px;
    }
  }

  .middle {
    gap: 65px;
    display: flex;
    align-items: center;
    .textlink {
      text-decoration: none;

      span {
        font-size: 30px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: color 150ms ease;
        &:hover {
          color: #53257d;
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: white;
      font-size: 15px;
    }
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
}
